<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TVCal</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,900,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.min.css">
  <link rel="stylesheet" href="css/screen.css">
</head>
<body>

<app></app>

<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.3.13/riot+compiler.min.js"></script>
<script src="js/app.tag" type="riot/tag"></script>
<script src="js/search.tag" type="riot/tag"></script>
<script src="js/links.tag" type="riot/tag"></script>
<script src="js/list.tag" type="riot/tag"></script>
<script> riot.mount('app'); </script>

</body>
</html>