html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #4a90e2;
  margin: 0 15px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
}

.-hidden {
  visibility: hidden;
}

.app-container {
  max-width: 520px;
  margin: auto;
  position: relative;
}

.app-header {
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.app-header > .headline {
  font-size: 2em;
  margin-bottom: 5px;
}

.app-header > .subline {
  font-size: .8em;
}


.app-toggle {
  position: absolute;
  top: 24px;
  font-size: 1.5em;
  cursor: pointer;
}

.app-toggle.-active {
  z-index: 10;
}

.list-toggle {
  left: 0;
}

.list-toggle .count {
  position: absolute;
  margin-left: 10px;
  display: inline-block;
  font-size: .8em;
  top: 1px;
}

.link-toggle {
  right: 0;
}


.app-search > .input {
  width: 100%;
  font-size: 2rem;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  padding: 15px 20px;
  color: inherit;
  font-weight: 100;
}

.search-result {
  cursor: pointer;
  list-style-type: none;
  border-width: 1px;
  border-color: inherit;
  border-bottom-style: solid;
  padding: 10px 55px 10px 10px;
  position: relative;
}

.search-result:after {
  content: '';
  display: table;
  clear: both;
}

.search-result > .image {
  float: left;
  margin-right: 10px;
  width: 60px;
}

.search-result .title {
  font-size: 1.5em;
}

.search-result > .button {
  position: absolute;
  right: 15px;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

.search-result > .button:before,
.search-result > .button:after {
  position: absolute;
  left: 20px;
  content: '';
  height: 40px;
  width: 1px;
  border-left-style: solid;
  border-width: 1px;
  border-color: inherit;
  transition: all .3s;
}

.search-result > .button:before {
  transform: rotate(0);
}
.search-result > .button:after {
  transform: rotate(-90deg);
}

.search-result.selected > .button:before,
.search-result.selected > .button:after {
  border-color: #7ed321;
}

.search-result.selected > .button:before {
  transform: rotate(45deg);
}

.search-result.selected > .button:after {
  transform: rotate(-45deg);
}

.text-label {
  color: inherit;
  border-color: inherit;
  border-width: 1px;
  border-style: solid;
  padding: 3px 12px;
  font-size: .7em;
  display: inline-block;
  vertical-align: 3px;
}

.text-label.green {
  color: #7ed321;
  border-color: #7ed321;
}


list {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  background: #fff;
  padding: 70px 0;
  min-height: 100vh;
  z-index: 5;
}

.list-item:first-child {
  border-top: 1px solid;
}

.list-item {
  border-bottom: 1px solid;
  padding: 15px 5px;
  cursor: pointer;
}

.list-item:hover {
  text-decoration: line-through;
}

.list-item .remove {
  float: right;
}


.app-links {
  background: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 5;
  padding: 70px 0;
}

.app-links .link {
  width: 100%;
  padding: 10px 5px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin-bottom: 20px;
}

.link-buttons {
  display: flex;
  justify-content: space-between;
}

.link-buttons .button {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}

.copy-button.-active {
  color: #7ed321;
  text-decoration: none;
}


.app-footer {
  padding: 30px 0;
  font-size: .8em;
  text-align: center;
  line-height: 1.3;
}