html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #4a90e2;
  border-color: #4a90e2;
  text-align: center;
  margin: 0 15px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  background-color: #fff;
  max-width: 520px;
  margin: auto;
}

.app-header {
  padding: 20px 0;
}

.app-header > .subline {
  font-size: .8em;
}

.app-footer {
  padding: 30px 0;
  font-size: .8em;
}

.ui-button {
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  padding: 2px 4px;
  text-transform: uppercase;
  transition: opacity .15s;
}

.ui-button.-copied {
  border-color: #7ed321;
  color: #7ed321;
}

.ui-button:hover {
  opacity: .5;
}

// .app-links {
//   border-width: 1px;
//   border-top-style: solid;
//   border-bottom-style: solid;
//   position: relative;
// }

// .app-links > .link {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

// .app-links > .link.-hidden {
//   visibility: hidden;
// }

.link-switch {
  transform: translateY(50%);
}

.link-import {
  transform: translateY(-50%);
}

.circle-icon {
  background: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  line-height: 30px;
}

list {
  display: block;
  position: absolute;
  width: 250px;
  padding-right: 10px;
  transform: translateX(-100%);
}

search {
  display: block;
  margin-top: 50px;
}

.app-search > .input {
  width: 100%;
  font-size: 2rem;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  padding: 15px 20px;
  color: inherit;
  font-weight: 100;
}

.app-search > .results {
  text-align: left;
  padding: 0;
  margin: 0;
}

.search-result {
  cursor: pointer;
  list-style-type: none;
  border-width: 1px;
  border-color: inherit;
  border-bottom-style: solid;
  padding: 10px 55px 10px 10px;
  position: relative;
}

.search-result:after {
  content: '';
  display: table;
  clear: both;
}

.search-result > .image {
  float: left;
  margin-right: 10px;
  width: 60px;
}

.search-result > .button {
  position: absolute;
  right: 15px;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

.search-result > .button:before,
.search-result > .button:after {
  position: absolute;
  left: 20px;
  content: '';
  height: 40px;
  width: 1px;
  border-left-style: solid;
  border-width: 1px;
  border-color: inherit;
  transition: all .3s;
}

.search-result > .button:before {
  transform: rotate(0);
}
.search-result > .button:after {
  transform: rotate(-90deg);
}

.search-result.selected > .button:before,
.search-result.selected > .button:after {
  border-color: #7ed321;
}

.search-result.selected > .button:before {
  transform: rotate(45deg);
}

.search-result.selected > .button:after {
  transform: rotate(-45deg);
}

.text-label {
  color: inherit;
  border-color: inherit;
  border-width: 1px;
  border-style: solid;
  padding: 3px 12px;
  font-size: .7em;
  display: inline-block;
  vertical-align: 3px;
}

.text-label.green {
  color: #7ed321;
  border-color: #7ed321;
}

.selected-list {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: inherit;
  text-align: left;
}

.selected-item {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 10px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
}

.selected-item:hover {
  text-decoration: line-through;
}

// .selected-item > .remove {
//   cursor: pointer;
//   pos: absolute;
//   right: 0;
// }
