html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  margin: 0 15px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

._hidden {
  visibility: hidden;
}

._no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.app-icons {
  display: none;
}

.app-container {
  max-width: 560px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}

.app-header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 3px solid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.app-header > .title {
  cursor: pointer;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.app-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-navigation > li {
  border: 3px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  will-change: color;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.app-navigation > li:hover {
  color: rgb(155, 155, 155);
}

.app-navigation > li.-active {
  color: rgb(74, 144, 226);
}

.app-navigation .edit {
  transform: rotate(45deg);
}

.shows-section {
  will-change: opacity;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.shows-section.-faded {
  opacity: 0.6;
}

.shows-section.-hidden {
  display: none;
}

.shows-section img {
  will-change: transition;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.shows-section.-faded img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.shows-subsection {
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.shows-subsection > .title {
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 2px solid;
  padding-bottom: 3px;
}

.list-item {
  padding: 5px 0;
  border-bottom: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.list-item > .image {
  max-width: 100px;
  position: relative;
  align-self: flex-start;
}

.list-item .details {
  padding-left: 5px;
}

.list-item .name {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 0.2rem;
  margin-top: 0.3rem;
}

.list-item .toggle {
  border: 2px solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: 5px;
  right: 0;
  position: absolute;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
  will-change: color transform;
}

.list-item .toggle.-active {
  color: rgb(126, 211, 33);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.list-item .delete {
  border: 2px solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: 5px;
  right: 0;
  position: absolute;
  color: rgb(208, 2, 27);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}

[class$="badge"] {
  background: rgba(0, 0, 0, 0.2);
  padding: 3px 4px 2px;
  display: inline-block;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.blue-badge {
  background: rgba(74, 144, 226, 0.2);
  color: rgb(74, 144, 226);
}

.gray-badge {
  background: rgba(155, 155, 155, 0.2);
  color: rgb(155, 155, 155);
}

.green-badge {
  background: rgba(126, 211, 33, 0.2);
  color: rgb(126, 211, 33);
}

.red-badge {
  background: rgba(208, 2, 27, 0.2);
  color: rgb(208, 2, 27);
}

.app-search {
  margin-bottom: 2rem;
}

.app-search input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 0;
  padding: 20px 0;
  font-weight: 300;
  width: 100%;
  border-bottom: 2px solid;
}

.app-search input:focus {
  outline: none;
}

.app-search .results {
  margin-bottom: 6em;
}

.app-search .results li {
  cursor: pointer;
}

.app-url {
  border-bottom: 2px solid;
}

.app-url .url {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 20px 0;
  width: 100%;
  display: block;
  transition: color 0.4s;
  font-weight: 500;
}

.app-url .url::before {
  content: '\00279C';
  padding-right: 5px;
}

.app-url .url:hover {
  color: rgb(74, 144, 226);
}

@media (max-width: 700px) {
  .github-corner {
    display: none;
  }
}

@media (max-width: 500px) {
  .list-item .name {
    font-size: 1.3rem;
  }
}
